!!! 5
%html
  %head
    %title Pier at Nine #{request.path_info == '/' ? '' : "- #{article.title}"}
    %link{:rel=>"stylesheet", :media=>"screen", :href=>"/css/blog.css"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.timeago.js"}
    %script{:type=>"text/javascript", :src=>"/js/blog.js"}
  %body
    %img.logo{:src=>"/images/logo.png", :alt=>"Pier at Nine"}
    = yield
    %footer
      2012 Dafydd Francis (afal AT somethingafal DOT com)
