!!! 5
%html
  %head
    %title Pier at Nine #{request.path_info == '/' ? '' : "- #{article.title}"}
    %link{:rel=>"stylesheet", :media=>"screen", :href=>"/css/blog.css"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.min.js"}
    %script{:type=>"text/javascript", :src=>"/js/sugar.js"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.dimensions.js"}
    %script{:type=>"text/javascript", :src=>"/js/jquery.tooltip.js"}
    %script{:type=>"text/javascript", :src=>"/js/blog.js"}
    :plain
      <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30889579-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      </script>
  %body
    %a{:href=>'/'}
      %img.logo{:src=>"/images/logo.png", :alt=>"Pier at Nine"}
    = yield
    %footer
      2012 Dafydd Francis
      %a{:href => "http://www.somethingafal.com"} Something Afal
