<p>Click here to download Bix: <a href="https://raw.github.com/dafrancis/Bix/master/bix.min.js" target="_blank" class="btn btn-primary">Download!</a></p>
<p>Click here to fork/contribute/watch/report issues <a href="https://github.com/dafrancis/bix" target="_blank" class="btn">github</a></p>
<p>This page is going to look very empty so for the time being here's a kitten:</p>
<img src="http://placekitten.com/350/300" alt="kitten">
