<p><a href="https://github.com/dafrancis/bix" target="_blank">Download/fork/contribute to Bix!</a> (that is if you want to)</p>
<img src="http://i.imgur.com/IxBkp.png" alt="Fluttershy" style="width: 497px; height: 447px;">
<p>(image of Fluttershy from <a href="http://moongazeponies.deviantart.com/art/Fluttershy-206239917">MoongazePonies</a>)</p>
